/**
 * http://applemusic.tumblr.com/
 * https://jsfiddle.net/xq56dmrh/
 */


/** M+ reg */ 
@font-face{ 
  font-family: "mplus";
  font-weight: 400;
  src: url('../fonts/mplus/mplus-1p-regular.woff');
  /*url('http://mplus-webfonts.sourceforge.jp/mplus-1p-regular.eot?#iefix') format('embedded-opentype'),*/
  src: url('../fonts/mplus/mplus-1p-regular.woff') format('woff'),
       url('../fonts/mplus/mplus-1p-regular.ttf') format('truetype');
}

/** M+ med */ 
@font-face{ 
  font-family: "mplus";
  font-weight: 500;
  src: url('../fonts/mplus/mplus-1m-medium.eot');
  /*url('http://mplus-webfonts.sourceforge.jp/mplus-1p-regular.eot?#iefix') format('embedded-opentype'), */
  src: url('../fonts/mplus/mplus-1m-medium.woff') format('woff'),
       url('../fonts/mplus/mplus-1m-medium.ttf') format('truetype');
}




/** Ultra Light 
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}
*/
/** Thin 
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}
*/
/** light 
@font-face {
  font-family: "San Francisco";
  font-weight: 300;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-light-webfont.woff");
}
*/
/** Regular
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
*/

/** Medium
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}
*/

/** Semi Bold
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}
*/

/** Bold 
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}